<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/cintia_style.css">
</head>
<body>
<div id="root">
    <div class="container">
        <div class="left-side">
            <img src="../../static/profile.jpg" alt="Profile Picture">
        </div>
        <div class="right-side">
            <h2>Profile Details</h2>
            <h2>Name</h2>
            <p>Age</p>
            <p>Location</p>
        </div>

    </div>

    <div class="background">
        <div class="shape"></div>
        <div class="shape">
    </div>

</div>
</body>
</html>
