<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/cintia_style.css">
</head>
<body>
<div id="root">
    <div class="container">
        <div class="left-side">
            <img src="../../static/profile.jpg" alt="Profile Picture">
            <h2>Nyerges Cintia</h2>
            <p>Software engineer</p>
        </div>
        <div class="right-side">
            <h2>Profile Details</h2>
            <div class="details_container">
                <p>Name: Nyerges Cintia</p>
                <p>Age: XX</p>
                <p>Location: Vac, Hungary</p>
                <p>e-mail: cintia.nyerges@gmail.com</p>
                <p>mobile: +36703007874</p>
            </div>
        </div>

    </div>

    <div class="background">
        <div class="shape"></div>
        <div class="shape">
    </div>

</div>
</body>
</html>
