body{
    font-family: 'Poppins',sans-serif;
    background-color: #080710;
    letter-spacing: 0.5px;
  }

#root {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 800px;
    height: 500px;
    display: flex;
    color: black;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0 0 0 / 20%);
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.13);
    border: 2px solid rgba(255,255,255,0.1);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 100;
    padding: 10px 20px;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;

}

.left-side img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;
    margin-bottom: 10px;
}

.right-side {
    flex: 2;
    flex-direction: column;
    display: flex;
    padding: 10px 20px;
    color: white;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.details_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    justify-content: center;
    align-content: center;
    text-align: start;
    padding: 5px;

}

.left-side h2, .left-side p {
    color: white;
    margin: 5px 0;
}
.left-side h2, .right-side h2 {
    background: linear-gradient(to right, #2c6ac9, #36d1dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
