<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content=width=device-width, initial-scale=1.2"
    <title> Solomon's Home Budget</title>
</head>
<body>
<div class="container"
<div style="background-color: darkslategray; data-height:03; data-width:20; text-align:center; font-size: 30px; font-family: 'Arial Black'; padding: 5%">This is my corner</div>
 <h1>Home Budget Tracker</h1> <br>

<div class="login-container"
    <h2> Login </h2>
    <form id="login-form">
        <iput type="text" id="username" placeholder="username" required>
        <input type="number" id="unique code" placeholder="unique code" required>
            <button type="submit">Login</button>
    </form>
</div>

<div class="budget input"></div>
    <h3> Add income</h3>
    <form id="income form"></form>
        <input type="text" id="income-description" placeholder="description" required>
        <input type="number" id="amount" placeholder="amount" required>
        <button type="submit">Add Income</button>
</form>
</section>
<section class="budget input"
    <h3> Add expenses</h3>
    <form id="expenses form"></form>
    <input type="text" id="expense-description" placeholder="description" required>
    <input type="number" id="amount" placeholder="description" required>
    <button type="submit">Add Income</button>
</form>

</section>
<section class="budget summary">
    <h3>Budget Summary</h3>

</form>


</section>
<section class="feeback input"
    <h4> Add feeback</h4>
    <form id="feedbck form"></form>
    <input type="text" id="feedback" placeholder="answer" required>
    <button type="submit"> Add your feedback</button>
</form>

</section>



</section>

</body>
</html>