<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
 <h1>BUDGET PLANNER</h1> <br>
 </center>
    The way to save more for the future
<h2>Home</h2>
    add_expenses (expense_list)
    item = input ("Enter expense item: ")
    amount = input ("Enter expense amount: ")
<h3>income</h3>
    source = input("Enter income source:m")
    amount = input("Enter income amount: ")
<h4>calculate_balance</h4>
    total_expenses
    total_income
    balance = total_income - total_expenses

</body>
</html>